In [1]:
import numpy as np
import pandas as pd

In [2]:
nomeArquivoAntigos = 'datasets/result/dados_UF_MPS_totalAno.csv'
nomeArquivo2018 = 'datasets/result/2018/dados_uf_2018.csv'
nomeArquivo2019 = 'datasets/result/2019/dados_uf_2019.csv'
nomeArquivo2020 = 'datasets/result/2020/dados_uf_2020.csv'
nomeArquivoUFSomaAno = 'datasets/result/dados_uf_ano_soma.csv'  # uf | ano | qtde
nomeArquivoUFSomaTotal = 'datasets/result/dados_uf_total.csv'   # uf | qtde
nomeArquivoUFSomaAnoTop = 'datasets/result/dados_uf_ano_soma_top.csv'   # uf | ano| qtde  somente das 5 UFs com maior qtde de cat
nomeArquivoUFSomaTop = 'datasets/result/dados_uf_soma_top.csv'   # uf | qtde  somente das 5 UFs com maior qtde de cat

In [3]:
columns_types = {'uf': str, 'ano': str, 'qtde': str}
nomes  = ['uf', 'ano', 'qtde']

dados_antigos = pd.read_csv(nomeArquivoAntigos, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')

df_antigo = pd.DataFrame(data = dados_antigos, columns=nomes)
df_antigo.shape[0] #816

df_antigo['ano'] = df_antigo['ano'].apply(pd.to_numeric)
df_antigo['qtde'] = df_antigo['qtde'].apply(pd.to_numeric)
df_antigo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 815
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   uf      816 non-null    object
 1   ano     816 non-null    int64
 2   qtde    816 non-null    int64
dtypes: int64(2), object(1)
memory usage: 25.5+ KB

In [4]:
columns_types = {'uf': str, 'qtde': str}
nomes  = ['uf', 'qtde']

dados2018 = pd.read_csv(nomeArquivo2018, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')

df2018 = pd.DataFrame(data = dados2018, columns=nomes)
df2018=df2018.assign(ano=2018)

df2018['qtde'] = df2018['qtde'].apply(pd.to_numeric)

df2018.shape[0] #27

27

In [5]:
columns_types = {'uf': str, 'qtde': str}
nomes  = ['uf', 'qtde']

dados2019 = pd.read_csv(nomeArquivo2019, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')

df2019 = pd.DataFrame(data = dados2019, columns=nomes)
df2019 = df2019.assign(ano=2019)
df2019['qtde'] = df2019['qtde'].apply(pd.to_numeric)

df2019.shape[0] #27
df2019.head()

                  uf    qtde   ano
0          São Paulo  177376  2019
1       Minas Gerais   48751  2019
2  Rio Grande do Sul   38714  2019
3             Paraná   38094  2019
4     Rio de Janeiro   31722  2019

In [6]:
columns_types = {'uf': str, 'qtde': str}
nomes  = ['uf', 'qtde']

dados2020 = pd.read_csv(nomeArquivo2020, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')

df2020 = pd.DataFrame(data = dados2020, columns=nomes)
df2020=df2020.assign(ano=2020)
df2020['qtde'] = df2020['qtde'].apply(pd.to_numeric)

df2020.shape[0] #27

27

In [7]:
df_result = pd.concat([df_antigo, df2018, df2019, df2020], ignore_index= True)
# passo necessário para somar os valores de 2018 que estavam em arquivos separados
df_result = pd.DataFrame(df_result.groupby(['uf', 'ano'], as_index=False)['qtde'].sum())
df_result.index = range(df_result.shape[0])
df_result.shape[0] #870

870

In [8]:
df_result.to_csv(nomeArquivoUFSomaAno, sep = ';', index=False, encoding='UTF-8')

In [9]:
#nomeArquivoUFSomaTotal
df_uf = pd.DataFrame(df_result.groupby(['uf'], as_index=False)['qtde'].sum())
df_uf = df_uf.sort_values(['qtde'], ascending = False)
df_uf.index = range(df_uf.shape[0])

df_uf.head(40)

                     uf     qtde
0             São Paulo  7513480
1          Minas Gerais  1998656
2     Rio Grande do Sul  1606137
3                Paraná  1350352
4        Rio de Janeiro  1259856
5        Santa Catarina  1159450
6                 Bahia   494785
7            Pernambuco   404135
8                 Goiás   397585
9        Espírito Santo   339577
10                 Pará   262536
11          Mato Grosso   244773
12                Ceará   241334
13   Mato Grosso do Sul   217536
14     Distrito Federal   184853
15             Amazonas   173389
16              Alagoas   146267
17  Rio Grande do Norte   131960
18             Maranhão   103212
19              Paraíba    90856
20             Rondônia    90682
21              Sergipe    77625
22                Piauí    56621
23            Tocantins    34786
24                 Acre    16954
25                Amapá    12888
26              Roraima    10085

In [10]:
df_uf.to_csv(nomeArquivoUFSomaTotal, sep = ';', index=False, encoding='UTF-8')

In [11]:
df_uf_soma_top = df_uf[0:5].copy()
df_uf_soma_top.to_csv(nomeArquivoUFSomaTop, sep = ';', index=False, encoding='UTF-8')

In [12]:
#selecionar as 5 UFs com maior quantidade de CATs 
df_top = df_uf[0:5]
lista_uf = df_top['uf']
lista_uf.head()

0            São Paulo
1         Minas Gerais
2    Rio Grande do Sul
3               Paraná
4       Rio de Janeiro
Name: uf, dtype: object

In [13]:
#selecionar as 5 UFs com maior quantidade de CATs no df de soma_ano:
df_soma_ano = df_result.copy()
condicao = df_soma_ano['uf'].isin(lista_uf)
df_soma_ano = df_soma_ano[condicao].copy()
df_soma_ano.index = range(df_soma_ano.shape[0])
df_soma_ano.shape[0] # 33 anos x 5 UFs = 165

165

In [14]:
df_soma_ano.head()

             uf   ano   qtde
0  Minas Gerais  1988  95802
1  Minas Gerais  1989  89049
2  Minas Gerais  1990  67619
3  Minas Gerais  1991  65891
4  Minas Gerais  1992  57695

In [15]:
df_soma_ano.to_csv(nomeArquivoUFSomaAnoTop, sep = ';', index=False, encoding='UTF-8')

In [16]:
df_soma_ano.describe()

               ano           qtde
count   165.000000     165.000000
mean   2004.000000   83202.915152
std       9.550891   81125.799905
min    1988.000000       0.000000
25%    1996.000000   37574.000000
50%    2004.000000   52111.000000
75%    2012.000000   77899.000000
max    2020.000000  446858.000000