In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import math
import re

In [2]:
arquivoOrigemA = 'datasets/result/dados_cat_2019.csv'
arquivoOrigemB = 'datasets/result/dados_cat_2019A.csv'
nomeArquivoResultado = 'datasets/result/dados_cat_2019.csv'

nomeArquivoCid = 'datasets/result/2019/dados_cid_2019.csv'
nomeArquivoUF = 'datasets/result/2019/dados_uf_2019.csv'
nomeArquivoCBO = 'datasets/result/2019/dados_cbo_2019.csv'
nomeArquivoAnoMes = 'datasets/result/2019/dados_anoMes_2019.csv'
nomeArquivoCNAE = 'datasets/result/2019/dados_cnae_2019.csv'
nomeArquivoParte = 'datasets/result/2019/dados_parte_2019.csv'
nomeArquivoSexo = 'datasets/result/2019/dados_sexo_2019.csv'
nomeArquivoIdade = 'datasets/result/2019/dados_idade_2019.csv'
nomeArquivoObitos = 'datasets/result/2019/dados_obitos_2019.csv'
nomeArquivoTipoAcidente = 'datasets/result/2019/dados_tipoAcidente_2019.csv'
nomeArquivoNatureza = 'datasets/result/2019/dados_natureza_2019.csv'

In [3]:
columns_types = {'cbo': int, 'cid': str, 'cnae': int, 'obito': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_emp': str, 'idade': int, 'anoMes': str}

nomes  = ['cbo', 'cid', 'cnae', 'obito', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 'idade', 'anoMes']

dados_originaisA = pd.read_csv(arquivoOrigemA, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')
dados_originaisB = pd.read_csv(arquivoOrigemB, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf8')

df_originalA = pd.DataFrame(data = dados_originaisA)
df_originalB = pd.DataFrame(data = dados_originaisB)

In [4]:
df_result = pd.concat([df_originalA, df_originalB], ignore_index= True)
df_result.index = range(df_result.shape[0])
df_result.shape[0]   #474633 -> qtde total de acidentes analisados de 2019

474633

In [5]:
df_result.to_csv(nomeArquivoResultado, sep = ';', index=False, encoding='UTF-8')

In [6]:
#Análise dos 20 CIDs de maior incidência em 2020:
df_cid = pd.DataFrame(df_result['cid'].value_counts())
df_cid.rename(columns={"id": "cid", "cid": "qtde"}, inplace=True)
df_cid_mais = df_cid.head(10).copy()
df_cid_mais.index.name='cid'

df_cid_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, S610 to T07
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    10 non-null     int64
dtypes: int64(1)
memory usage: 160.0+ bytes

In [7]:
df_cid_mais.head(10)

       qtde
cid
S610  28584
S934  18279
S626  14215
Z209  13619
S800  10058
S600   9410
S611   7668
S61    7567
S602   6827
T07    6339

In [8]:
df_cid_mais.to_csv(nomeArquivoCid, sep = ';', encoding='UTF-8')

In [10]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CIDs por ordem de ocorrência em 2020:
df_cid_mais['qtde'].sum()  #122566

122566

In [11]:
#Análise das 10 UFs de maior incidência de CAT em 2020:
df_uf = pd.DataFrame(df_result['uf_emp'].value_counts())
df_uf.rename(columns={"uf_emp": "qtde"}, inplace=True)
df_uf_mais = df_uf.head(30).copy()
df_uf_mais.index.name='uf_emp'
df_uf_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, São Paulo to Amapá
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    27 non-null     int64
dtypes: int64(1)
memory usage: 432.0+ bytes

In [12]:
df_uf_mais.head(20)

                       qtde
uf_emp
São Paulo            177376
Minas Gerais          48751
Rio Grande do Sul     38714
Paraná                38094
Rio de Janeiro        31722
Santa Catarina        29379
Goiás                 13753
Espírito Santo        11355
Bahia                 11078
Mato Grosso           10505
Pernambuco             9615
Ceará                  9230
Mato Grosso do Sul     7602
Pará                   7090
Distrito Federal       6279
Amazonas               4587
Rio Grande do Norte    3432
Rondônia               2913
Maranhão               2774
Alagoas                2501

In [14]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores UFs por ordem de ocorrência em 2020:
df_uf_mais['qtde'].sum() #474633

474633

In [15]:
df_uf_mais.to_csv(nomeArquivoUF, sep = ';', encoding='UTF-8')

In [16]:
#Análise das 10 CBOs de maior incidência de CAT em 2019:
df_cbo = pd.DataFrame(df_result['cbo'].value_counts())
df_cbo.rename(columns={"cbo": "qtde"}, inplace=True)
df_cbo_mais = df_cbo.head(10).copy()
df_cbo_mais.index.name='cbo'
df_cbo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 322205 to 411010
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    10 non-null     int64
dtypes: int64(1)
memory usage: 160.0 bytes

In [17]:
df_cbo_mais.head(10)

         qtde
cbo
322205  30313
784205  27553
514320  18469
782510  11149
717020   9218
521110   7873
411005   7502
514205   7014
521125   6934
411010   6858

In [19]:
#qtde total de casos de ocorrência no dataFrame com os 10 maiores CBOs por ordem de ocorrência em 2019:
df_cbo_mais['qtde'].sum() #132883

132883

In [20]:
df_cbo_mais.to_csv(nomeArquivoCBO, sep = ';', encoding='UTF-8')

In [21]:
#Análise da incidência dos acidentes em meses de 2019:
df_mes = pd.DataFrame(df_result['anoMes'].value_counts())
df_mes.rename(columns={"anoMes": "qtde"}, inplace=True)
df_mes_mais = df_mes.head(12).copy()
df_mes_mais.index.name='anoMes'

df_mes_mais.head(12)

         qtde
anoMes
201910  45451
201905  43675
201908  43496
201907  43225
201904  41456
201909  41455
201901  41446
201902  39699
201903  39164
201906  37710
201911  34272
201912  23584

In [22]:
df_mes_mais.to_csv(nomeArquivoAnoMes, sep = ';', encoding='UTF-8')

In [23]:
#Análise da incidência dos acidentes por CNAE:
df_cnae = pd.DataFrame(df_result['cnae'].value_counts())
df_cnae.rename(columns={"cnae": "qtde"}, inplace=True)

df_cnae_mais = df_cnae.head(10).copy()
df_cnae_mais.index.name='cnae'

df_cnae_mais.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 8610 to 1011
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    10 non-null     int64
dtypes: int64(1)
memory usage: 160.0 bytes

In [24]:
df_cnae_mais.head(10)

       qtde
cnae
8610  51301
4711  19684
4930  12384
8411  12130
1012  10618
5611   9670
4120   8461
3811   7302
5310   7174
1011   6854

In [26]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2019:
df_cnae_mais['qtde'].sum() #145578

145578

In [27]:
df_cnae_mais.to_csv(nomeArquivoCNAE, sep = ';', encoding='UTF-8')

In [28]:
#Análise da incidência dos acidentes por parte do corpo atingida:
df_parte = pd.DataFrame(df_result['parte'].value_counts())
df_parte.rename(columns={"parte": "qtde"}, inplace=True)

df_parte_mais = df_parte.head(10).copy()
df_parte_mais.index.name='parte'

df_parte_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Dedo to Ombro
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    10 non-null     int64
dtypes: int64(1)
memory usage: 160.0+ bytes

In [29]:
df_parte_mais.head(10)

                        qtde
parte
Dedo                  113223
Pe (Exceto Artelhos)   39688
Mao (Exceto Punho ou   35220
Joelho                 24563
Partes Multiplas - A   22310
Articulacao do Torno   19682
Perna (Do Tornozelo,   17341
Antebraco (Entre O P   15833
Perna (Entre O Torno   15621
Ombro                  15227

In [30]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 201920:
df_parte_mais['qtde'].sum() #318708

318708

In [31]:
df_parte_mais.to_csv(nomeArquivoParte, sep = ';', encoding='UTF-8')

In [32]:
#Análise da incidência dos acidentes, separados por sexo (M ou F):
df_sexo = pd.DataFrame(df_result['sexo'].value_counts())
df_sexo.rename(columns={"sexo": "qtde"}, inplace=True)

df_sexo_mais = df_sexo.head(5).copy()  # pode haver alguma opção para 'não informado'
df_sexo_mais.index.name='sexo'

df_sexo_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Masculino to Indeterminado
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes

In [33]:
df_sexo_mais.head()

                 qtde
sexo
Masculino      315603
Feminino       158905
Não Informado     116
Indeterminado       9

In [34]:
#qtde total de casos de ocorrência no dataFrame com os 20 maiores CNAEs por ordem de ocorrência em 2019:
df_sexo_mais['qtde'].sum() #474591

474633

In [35]:
df_sexo_mais.to_csv(nomeArquivoSexo, sep = ';', encoding='UTF-8')

In [36]:
df_result['idade'].min() #8 ???

8

In [37]:
selecao = df_result['idade'] < 14 # idade mínima para jovem aprendiz é de 14 anos, porém foram encontrados 3 registro < 14
df_min = df_result[selecao]
df_min.head(10)
df_min.shape[0]

3

In [38]:
df_result['idade'].max()  #95

95

In [39]:
classes = [13, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 100]
faixas = pd.cut(df_result.idade, classes)

In [42]:
pd.value_counts(faixas)

(29, 34]     77002
(24, 29]     75404
(34, 39]     72832
(19, 24]     71130
(39, 44]     56121
(44, 49]     42499
(49, 54]     32209
(54, 59]     19649
(13, 19]     16395
(59, 64]      8223
(64, 69]      2382
(69, 100]      784
Name: idade, dtype: int64

In [43]:
labels = ['14 a 19 anos: ', '20 a 24 anos:', '25 a 29 anos:', '30 a 34 anos:', '35 a 39 anos:', '40 a 44 anos:', 
          '45 a 49 anos:', '50 a 54 anos:', '55 a 59 anos:', '60 a 64 anos:', '65 a 69 anos:', '70 a 100 anos:']
faixas_labels = pd.cut(df_result.idade, classes, labels = labels)
pd.value_counts(faixas_labels)

30 a 34 anos:     77002
25 a 29 anos:     75404
35 a 39 anos:     72832
20 a 24 anos:     71130
40 a 44 anos:     56121
45 a 49 anos:     42499
50 a 54 anos:     32209
55 a 59 anos:     19649
14 a 19 anos:     16395
60 a 64 anos:      8223
65 a 69 anos:      2382
70 a 100 anos:      784
Name: idade, dtype: int64

In [44]:
df_faixasEtarias = pd.DataFrame(pd.value_counts(faixas_labels))

In [45]:
df_faixasEtarias.head(10)

                idade
30 a 34 anos:   77002
25 a 29 anos:   75404
35 a 39 anos:   72832
20 a 24 anos:   71130
40 a 44 anos:   56121
45 a 49 anos:   42499
50 a 54 anos:   32209
55 a 59 anos:   19649
14 a 19 anos:   16395
60 a 64 anos:    8223

In [46]:
df_faixasEtarias['desc_faixa'] = df_faixasEtarias.index

In [47]:
df_faixasEtarias.head(10)

                idade      desc_faixa
30 a 34 anos:   77002   30 a 34 anos:
25 a 29 anos:   75404   25 a 29 anos:
35 a 39 anos:   72832   35 a 39 anos:
20 a 24 anos:   71130   20 a 24 anos:
40 a 44 anos:   56121   40 a 44 anos:
45 a 49 anos:   42499   45 a 49 anos:
50 a 54 anos:   32209   50 a 54 anos:
55 a 59 anos:   19649   55 a 59 anos:
14 a 19 anos:   16395  14 a 19 anos:
60 a 64 anos:    8223   60 a 64 anos:

In [48]:
df_faixasEtarias.index = range(df_faixasEtarias.shape[0])
df_faixasEtarias.index.name = 'id'
df_faixasEtarias.rename(columns={"idade": "qtde"}, inplace=True)
df_faixasEtarias.head(10)

     qtde      desc_faixa
id
0   77002   30 a 34 anos:
1   75404   25 a 29 anos:
2   72832   35 a 39 anos:
3   71130   20 a 24 anos:
4   56121   40 a 44 anos:
5   42499   45 a 49 anos:
6   32209   50 a 54 anos:
7   19649   55 a 59 anos:
8   16395  14 a 19 anos:
9    8223   60 a 64 anos:

In [49]:
df_faixasEtarias.to_csv(nomeArquivoIdade, sep = ';', encoding='UTF-8')
df_faixasEtarias['qtde'].sum() #474588

474630

In [50]:
#Análise da incidência de óbitos decorrentes dos acidente:
df_obitos = pd.DataFrame(df_result['obito'].value_counts())
df_obitos.rename(columns={"obito": "qtde"}, inplace=True)

df_obitos_mais = df_obitos.head(5).copy()  # pode haver alguma opção para 'não informado'
df_obitos_mais.index.name='obito'

df_obitos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Não to Sim
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    2 non-null      int64
dtypes: int64(1)
memory usage: 32.0+ bytes

In [51]:
df_obitos_mais.head()

         qtde
obito
Não    472553
Sim      2080

In [52]:
#qtde total de casos de ocorrência no dataFrame:
df_obitos_mais['qtde'].sum() #474591

474633

In [53]:
df_obitos_mais.to_csv(nomeArquivoObitos, sep = ';', encoding='UTF-8')

In [54]:
#Análise da incidência de tipos de acidentes:
df_tipos = pd.DataFrame(df_result['tipo_acidente'].value_counts())
df_tipos.rename(columns={"tipo_acidente": "qtde"}, inplace=True)

df_tipos_mais = df_tipos.head(10).copy()  # pode haver alguma opção para 'não informado'
df_tipos_mais.index.name='tipo_acidente'

df_tipos_mais.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Típico to Ignorado
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qtde    4 non-null      int64
dtypes: int64(1)
memory usage: 64.0+ bytes

In [55]:
df_tipos_mais.head(10)

                 qtde
tipo_acidente
Típico         365239
Trajeto        100809
Doença           8575
Ignorado           10

In [57]:
#qtde total de casos de ocorrência no dataFrame:
df_tipos_mais['qtde'].sum() #474633

474633

In [58]:
df_tipos_mais.to_csv(nomeArquivoTipoAcidente, sep = ';', encoding='UTF-8')