In [23]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
import math
import fprocessamento as fprocess
from dateutil.relativedelta import *
from datetime import date
from datetime import datetime

In [24]:
listaArquivos2020 = ['datasets/origem/INSS/cat-comp01-02-03-2020.csv', 'datasets/origem/INSS/cat-competencia-04-05-06-2020.csv',
                     'datasets/origem/INSS/cat-competencia-07-08-09-2020.csv']
                     
                     
nomeArquivoResult2020 = 'datasets/result/dados_cat_2020.csv'
nomeArquivoResult2019 = 'datasets/result/dados_cat_2019A.csv'
    
columns_types = {'agente': str, 'dt_acidente': str, 'cbo': int, 'cbo_desc': str, 'cid': str, 'cid_desc': str, 
                 'cnae': int, 'cnae_desc': str, 'emitente': str, 'especie': str, 'filiacao': str, 
                 'obito': str, 'munic_emp': str, 'natureza': str, 'origem': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_acidente': str, 'uf_emp': str, 'dt_afast': str, 'dt_despacho': str, 'dt_acid': str, 
                 'dt_nasc': str, 'dt_emissao': str}

nomes  = ['agente', 'dt_acidente', 'cbo', 'cbo_desc', 'cid', 'cid_desc', 'cnae', 'cnae_desc', 'emitente', 'especie', 
          'filiacao', 'obito', 'munic_emp', 'natureza', 'origem', 'parte', 'sexo', 'tipo_acidente', 'uf_acidente', 'uf_emp', 
          'dt_afast', 'dt_despacho', 'dt_acid', 'dt_nasc', 'dt_emissao']

df_total = pd.DataFrame()
for arq in listaArquivos2020:
    try:
        dados_originais = pd.read_csv(arq, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')        
    except:
        dados_originais = pd.read_csv(arq, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='iso-8859-1')
    finally:
        df_item = pd.DataFrame(data = dados_originais, columns=nomes)
        print('Qtde de registros no arquivo {} = {}'.format(arq, df_item.shape[0]))
        df_total = pd.concat([df_total, df_item], ignore_index= True)
        print('Qtde de registros no df_total = {}'.format(df_total.shape[0]))

Qtde de registros no arquivo datasets/origem/INSS/cat-comp01-02-03-2020.csv = 81264
Qtde de registros no df_total = 81264
Qtde de registros no arquivo datasets/origem/INSS/cat-competencia-04-05-06-2020.csv = 75743
Qtde de registros no df_total = 157007
Qtde de registros no arquivo datasets/origem/INSS/cat-competencia-07-08-09-2020.csv = 117439
Qtde de registros no df_total = 274446

In [25]:
df_cat = pd.DataFrame(df_total[['dt_acidente', 'cbo', 'cid', 'cnae', 'obito', 'parte','sexo', 
                                'tipo_acidente', 'uf_emp', 'dt_nasc']])

fprocess.formatarStr(df_cat, ['dt_acidente', 'cid', 'obito', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 
                     'dt_nasc'])

df_cat.columns.name = 'caracteristica'
df_cat.index.name = "id"
df_cat.index = range(df_cat.shape[0]) #274446

In [26]:
df_cat.head()

caracteristica,dt_acidente,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc
0,2020/01,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977
1,2020/01,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987
2,2020/01,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983
3,2020/01,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988
4,2020/01,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976

Verificar se há campos nulos ou com valores inválidos para a análise:

In [27]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274446 entries, 0 to 274445
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   dt_acidente    274446 non-null  object
 1   cbo            274446 non-null  int32
 2   cid            274446 non-null  object
 3   cnae           274446 non-null  int32
 4   obito          274446 non-null  object
 5   parte          274446 non-null  object
 6   sexo           274446 non-null  object
 7   tipo_acidente  274446 non-null  object
 8   uf_emp         274446 non-null  object
 9   dt_nasc        274323 non-null  object
dtypes: int32(2), object(8)
memory usage: 18.8+ MB

Encontramos valores nulos no campo dt_nasc. Vamos verificar, depois, se há valores inválidos também...

Seguindo com a limpeza de dados, vamos verificar se há valores inválidos ("{ñ class}") nas demais colunas:

In [28]:
fprocess.verificarStrInvalida(df_cat, ['cbo', 'cid', 'cnae', 'obito', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 'dt_nasc'],
                              '{ñ class}')

Dados ausentes, por coluna:
inválidos em cbo: 0
inválidos em cid: 0
inválidos em cnae: 0
inválidos em obito: 0
inválidos em parte: 449
inválidos em sexo: 0
inválidos em tipo_acidente: 0
inválidos em uf_emp: 0
inválidos em dt_nasc: 0

Vamos adotar estratégias diferentes para resolver o problema de valores nulos/inválidos, de acordo com a coluna.
Para a coluna "parte", não há uma forma razoável de preencher esses valores, então vamos apagar os registros correspondentes.

In [29]:
#apagando os registros com valor nulo de 'parte'
tamanho = df_cat.shape[0] 
df_cat.drop(df_cat[df_cat['parte'] == '{ñ class}'].index, inplace = True)
tamanho_final = df_cat.shape[0] # deve ser igual a 273997
print('Qtde de registros: {}'.format(tamanho_final))

Qtde de registros: 273997

In [30]:
df_cat.fillna(0, inplace = True)
#criando a coluna "idade" a partir da data de nascimento e da data do acidente...
df_cat['idade']= df_cat.apply(lambda row: fprocess.calcularIdade(row.dt_nasc,row.dt_acidente), axis = 1)
df_cat.head()

caracteristica,dt_acidente,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
0,2020/01,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0
1,2020/01,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0
2,2020/01,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0
3,2020/01,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0
4,2020/01,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0

In [31]:
nulos = df_cat[df_cat['idade'].isnull()].shape[0]
print('Qtde de registros com valor nulo de idade: {}'.format(nulos))

Qtde de registros com valor nulo de idade: 192848

In [32]:
#Verificando o que há nesses registros em que não foi possível calcular a idade...
df_nulos = df_cat[df_cat['idade'].isnull()]
df_nulos.head(50)

caracteristica,dt_acidente,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
365,2020/01,223505,Z209,8610,Não,"Face, Partes Multipl",Não Informado,Típico,São Paulo,00/00/0000,NaN
488,2020/01,322205,Y699,8610,Não,Olho (Inclusive Nerv,Não Informado,Típico,Goiás,00/00/0000,NaN
1573,*******,763125,S300,7820,Não,Dorso (Inclusive Mus,Masculino,Típico,Paraná,27/06/1968,NaN
2486,2020/01,514320,S434,5611,Não,Ombro,Não Informado,Típico,São Paulo,00/00/0000,NaN
3629,*******,848520,S602,1012,Não,Mao (Exceto Punho ou,Feminino,Típico,Mato Grosso,08/04/1997,NaN
6045,2020/01,784205,S681,3299,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
6391,2020/01,324205,Y881,8640,Não,Mao (Exceto Punho ou,Não Informado,Típico,São Paulo,00/00/0000,NaN
6546,*******,514205,S826,4930,Não,"Perna (Do Tornozelo,",Masculino,Típico,Rio Grande do Sul,13/11/1972,NaN
9932,*******,724115,W879,3600,Sim,Sistema Musculo-Esqu,Masculino,Típico,Paraíba,25/05/1984,NaN
10366,*******,513205,T302,1099,Não,Ombro,Masculino,Típico,Rio de Janeiro,17/11/1992,NaN
11128,*******,848505,S611,1012,Não,Mao (Exceto Punho ou,Masculino,Típico,Santa Catarina,14/10/1982,NaN
11510,*******,322205,S610,8610,Não,Dedo,Feminino,Típico,São Paulo,09/03/1983,NaN
11723,2020/01,771105,S681,3329,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
13725,2020/01,731205,S611,4221,Não,Punho,Não Informado,Típico,São Paulo,00/00/0000,NaN
15008,2020/01,223505,Y609,8610,Não,Olho (Inclusive Nerv,Não Informado,Típico,Rio de Janeiro,00/00/0000,NaN
15677,2020/01,521125,T290,1052,Não,"Membros Superiores,",Não Informado,Típico,Rio de Janeiro,00/00/0000,NaN
23901,2020/01,715210,Z000,4221,Não,Partes Multiplas - A,Não Informado,Trajeto,São Paulo,00/00/0000,NaN
24208,2020/01,514320,Y282,9499,Não,Dedo,Não Informado,Típico,Pará,00/00/0000,NaN
24749,2020/02,514205,S933,4120,Não,Articulacao do Torno,Não Informado,Típico,Rio Grande do Norte,00/00/0000,NaN
26652,2020/02,514205,Z480,3811,Não,Braco (Entre O Punho,Não Informado,Típico,São Paulo,00/00/0000,NaN
26981,2020/01,514225,S600,3811,Não,Mao (Exceto Punho ou,Não Informado,Típico,Santa Catarina,00/00/0000,NaN
29357,2020/02,848510,S901,4712,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
31285,2020/01,514205,S600,3811,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
33403,2020/02,322205,Z209,8610,Não,Dedo,Não Informado,Típico,Paraná,00/00/0000,NaN
34360,2020/02,411030,S934,6202,Não,"Perna (Do Tornozelo,",Não Informado,Típico,Santa Catarina,00/00/0000,NaN
34422,2020/02,521130,S833,4722,Não,Joelho,Não Informado,Trajeto,São Paulo,00/00/0000,NaN
36963,2020/02,784205,S900,1091,Não,Pe (Exceto Artelhos),Não Informado,Típico,São Paulo,00/00/0000,NaN
39752,2020/02,510130,S610,4729,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
40757,2020/02,519305,S800,2122,Não,Perna (Entre O Torno,Não Informado,Típico,São Paulo,00/00/0000,NaN
43096,2020/02,772110,T302,230,Não,Ombro,Não Informado,Típico,Paraná,00/00/0000,NaN
44108,2020/02,422110,W010,8690,Não,Partes Multiplas - A,Não Informado,Típico,São Paulo,00/00/0000,NaN
44671,2020/02,411010,R609,4711,Não,Partes Multiplas - A,Não Informado,Típico,Minas Gerais,00/00/0000,NaN
45283,2020/02,784205,T149,1091,Não,Mao (Exceto Punho ou,Não Informado,Típico,Distrito Federal,00/00/0000,NaN
46664,2020/02,715230,S525,4330,Não,Antebraco (Entre O P,Não Informado,Típico,Minas Gerais,00/00/0000,NaN
47987,2020/02,820115,T210,2411,Não,"Tronco, Nic",Não Informado,Típico,Minas Gerais,00/00/0000,NaN
48173,2020/02,784205,S610,7820,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
50503,2020/02,514320,S610,8411,Não,Dedo,Não Informado,Típico,Paraná,00/00/0000,NaN
53002,2020/02,911305,M545,2733,Não,Dorso (Inclusive Mus,Não Informado,Típico,São Paulo,00/00/0000,NaN
54304,2020/02,622020,S610,113,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
55904,2020/03,717020,S610,4120,Não,Dedo,Não Informado,Típico,Ceará,00/00/0000,NaN
57964,2020/03,724440,S012,2869,Não,Nariz (Inclusive Fos,Não Informado,Típico,São Paulo,00/00/0000,NaN
59591,2020/03,521125,S619,4711,Não,Mao (Exceto Punho ou,Não Informado,Típico,Rio de Janeiro,00/00/0000,NaN
62970,2020/03,782310,S532,3314,Não,"Membros Superiores,",Não Informado,Típico,São Paulo,00/00/0000,NaN
67656,2020/03,782130,S602,2330,Não,Mao (Exceto Punho ou,Não Informado,Típico,Bahia,00/00/0000,NaN
68708,2020/03,411005,S825,4649,Não,Pe (Exceto Artelhos),Não Informado,Típico,São Paulo,00/00/0000,NaN
69054,2020/03,414210,M545,1412,Não,Dorso (Inclusive Mus,Não Informado,Típico,São Paulo,00/00/0000,NaN
69725,2020/03,783225,S626,5231,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
71260,2020/03,415205,F439,5310,Não,Sistema Nervoso,Não Informado,Típico,Rio de Janeiro,00/00/0000,NaN
72775,2020/03,514320,Z209,8610,Não,Mao (Exceto Punho ou,Não Informado,Típico,Mato Grosso do Sul,00/00/0000,NaN
73874,2020/03,715210,S420,4313,Não,Ombro,Não Informado,Típico,Roraima,00/00/0000,NaN

In [33]:
df_cat.index = range(df_cat.shape[0]) #273997
condicao = df_cat['dt_acidente'].str.match('^\*+') == True
dt_invalida = df_cat[condicao].copy()
df_cat.drop(dt_invalida.index, inplace=True)
print('Qtde de registros: {}'.format(df_cat.shape[0]))  # 273990

Qtde de registros: 273990

In [34]:
'''Não precisamos da data exata do acidente, apenas do mês e do ano, então podemos manipular a columa dt_acidente 
para obter uma nova coluna anoMes e, depois apagar a primeira (dt_acidente)'''

df_cat['anoMes'] = df_cat['dt_acidente'].apply(lambda x: fprocess.calcularAnoMes(x))
df_cat.drop(['dt_acidente'], axis=1, inplace = True)
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0,202001

Verificando se há valores com caracteres que não sejam numéricos na coluna anoMes:

In [35]:
condicao = df_cat['anoMes'].str.match('^[0-9]+$') == False
df_itensInvalidos = df_cat[condicao].copy()
df_cat.drop(df_itensInvalidos.index, inplace=True)
print('Qtde de registros: {}'.format(df_cat.shape[0]))  # 273990

Qtde de registros: 273990

Foram encontrados e apagados 7 valores não-numéricos na coluna anoMes. 

Vamos criar uma coluna "idade", derivada de "dt_nasc", para auxiliar na análise das idades dos trabalhadores:

In [36]:
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0,202001

Verificar se há registros com valor nulo na coluna "idade" (caso o cálculo da idade não tenha sido possível, por causa
de valores inválidos na coluna "dt_nasc"):

Para resolver esse problema de registros com valores nulos na coluna "idade", podemos substituir esses valores nulos 
pela média de idade dos registros desse arquivo. Dessa forma, o registro não é perdido e o valor usado não fica fora 
da faixa, nem altera muito nossa análise final.

Qual será a média de idade dos registros desse arquivo?

In [37]:
mediaIdades = math.floor(df_cat['idade'].mean())
print('Média de idade dos registros = {}'.format(mediaIdades))

Média de idade dos registros = 35

Substituindo os valores nulos na coluna "idade" pela média e verificando novamente o estado dos campos do dataFrame...

In [38]:
df_cat.fillna(mediaIdades, inplace=True)

df_cat.isnull().sum()

caracteristica
cbo              0
cid              0
cnae             0
obito            0
parte            0
sexo             0
tipo_acidente    0
uf_emp           0
dt_nasc          0
idade            0
anoMes           0
dtype: int64

In [39]:
#ordenando novamente os índices do dataFrame
df_cat.index = range(df_cat.shape[0])
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0,202001

In [40]:
#apagando a coluna "dt_nasc", que não é mais necessária
df_cat.drop(['dt_nasc'], axis=1, inplace = True)
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,43.0,202001

In [41]:
#separando os acidentes que aconteceram em 2019 dos que aconteceram em 2018:
condicao2020 = df_cat['anoMes'].str.match('^2020[0-9]+') == True
df_cat2020 = df_cat[condicao2020].copy()
df_cat2020.shape[0] #deverá ser igual a 273965

273965

In [42]:
condicao2019 = df_cat['anoMes'].str.match('^2019[0-9]+') == True
df_cat2019 = df_cat[condicao2019].copy()
df_cat2019.shape[0] #deverá ser igual a 25

25

In [43]:
df_cat2020.to_csv(nomeArquivoResult2020, sep = ';', index=False, encoding='utf-8')

In [44]:
if(df_cat2019.shape[0] > 0):
    df_cat2019.to_csv(nomeArquivoResult2019, sep = ';', index=False, encoding='UTF-8')