In [1]:
import numpy as np
import pandas as pd
from scipy import special
from random import sample
import itertools
from datetime import timedelta
import math
import fprocessamento as fprocess
from dateutil.relativedelta import *
from datetime import date
from datetime import datetime

In [2]:
listaArquivos2020 = ['datasets/origem/INSS/cat-comp01-02-03-2020.csv', 'datasets/origem/INSS/cat-competencia-04-05-06-2020.csv',
                     'datasets/origem/INSS/cat-competencia-07-08-09-2020.csv']
                     
                     
nomeArquivoResult2020 = 'datasets/result/dados_cat_2020.csv'
nomeArquivoResult2019 = 'datasets/result/dados_cat_2019A.csv'
    
columns_types = {'agente': str, 'dt_acidente': str, 'cbo': int, 'cbo_desc': str, 'cid': str, 'cid_desc': str, 
                 'cnae': int, 'cnae_desc': str, 'emitente': str, 'especie': str, 'filiacao': str, 
                 'obito': str, 'munic_emp': str, 'natureza': str, 'origem': str, 'parte': str, 'sexo': str, 
                 'tipo_acidente': str, 'uf_acidente': str, 'uf_emp': str, 'dt_afast': str, 'dt_despacho': str, 'dt_acid': str, 
                 'dt_nasc': str, 'dt_emissao': str}

nomes  = ['agente', 'dt_acidente', 'cbo', 'cbo_desc', 'cid', 'cid_desc', 'cnae', 'cnae_desc', 'emitente', 'especie', 
          'filiacao', 'obito', 'munic_emp', 'natureza', 'origem', 'parte', 'sexo', 'tipo_acidente', 'uf_acidente', 'uf_emp', 
          'dt_afast', 'dt_despacho', 'dt_acid', 'dt_nasc', 'dt_emissao']

df_total = pd.DataFrame()
for arq in listaArquivos2020:
    try:
        dados_originais = pd.read_csv(arq, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='utf-8')        
    except:
        dados_originais = pd.read_csv(arq, sep = ';', header=0, names=nomes, dtype=columns_types, encoding='iso-8859-1')
    finally:
        df_item = pd.DataFrame(data = dados_originais, columns=nomes)
        print('Qtde de registros no arquivo {} = {}'.format(arq, df_item.shape[0]))
        df_total = pd.concat([df_total, df_item], ignore_index= True)
        print('Qtde de registros no df_total = {}'.format(df_total.shape[0]))

Qtde de registros no arquivo datasets/origem/INSS/cat-comp01-02-03-2020.csv = 81264
Qtde de registros no df_total = 81264
Qtde de registros no arquivo datasets/origem/INSS/cat-competencia-04-05-06-2020.csv = 75743
Qtde de registros no df_total = 157007
Qtde de registros no arquivo datasets/origem/INSS/cat-competencia-07-08-09-2020.csv = 117439
Qtde de registros no df_total = 274446

In [3]:
df_cat = pd.DataFrame(df_total[['dt_acidente', 'cbo', 'cid', 'cnae', 'obito', 'parte','sexo', 
                                'tipo_acidente', 'uf_emp', 'dt_nasc']])

fprocess.formatarStr(df_cat, ['dt_acidente', 'cid', 'obito', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 
                     'dt_nasc'])

df_cat.columns.name = 'caracteristica'
df_cat.index.name = "id"
df_cat.index = range(df_cat.shape[0]) #274446

In [4]:
df_cat.head()

caracteristica,dt_acidente,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc
0,2020/01,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977
1,2020/01,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987
2,2020/01,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983
3,2020/01,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988
4,2020/01,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976

Verificar se há campos nulos ou com valores inválidos para a análise:

In [5]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274446 entries, 0 to 274445
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   dt_acidente    274446 non-null  object
 1   cbo            274446 non-null  int32
 2   cid            274446 non-null  object
 3   cnae           274446 non-null  int32
 4   obito          274446 non-null  object
 5   parte          274446 non-null  object
 6   sexo           274446 non-null  object
 7   tipo_acidente  274446 non-null  object
 8   uf_emp         274446 non-null  object
 9   dt_nasc        274323 non-null  object
dtypes: int32(2), object(8)
memory usage: 18.8+ MB

Encontramos valores nulos no campo dt_nasc. Vamos verificar, depois, se há valores inválidos também...

Seguindo com a limpeza de dados, vamos verificar se há valores inválidos ("{ñ class}") nas demais colunas:

In [6]:
fprocess.verificarStrInvalida(df_cat, ['cbo', 'cid', 'cnae', 'obito', 'parte', 'sexo', 'tipo_acidente', 'uf_emp', 'dt_nasc'],
                              '{ñ class}')

Dados ausentes, por coluna:
inválidos em cbo: 0
inválidos em cid: 0
inválidos em cnae: 0
inválidos em obito: 0
inválidos em parte: 449
inválidos em sexo: 0
inválidos em tipo_acidente: 0
inválidos em uf_emp: 0
inválidos em dt_nasc: 0

Vamos adotar estratégias diferentes para resolver o problema de valores nulos/inválidos, de acordo com a coluna.
Para a coluna "parte", não há uma forma razoável de preencher esses valores, então, dependendo da quantidade de registros com esse campo inválido, podemos optar por apagar os registros correspondentes ou deixá-los para uma análise posterior. 
Já a coluna "dt_nasc" posteriormente, de outra forma...  

O campo dt_acidente deveria conter apenas caracteres numéricos ou '/'. Vamos verificar...

In [7]:
condicao = df_cat['dt_acidente'].str.match('^[0-9/]+$') == False
df_itensInvalidos = df_cat[condicao].copy()
print('Qtde de registros com dt_acidente fora do padrão: {}'.format(df_itensInvalidos.shape[0]))

Qtde de registros com dt_acidente fora do padrão: 7

Como a dt_acidente se trata de um campo importante na análise em questão, é preferível excluir os registros com um valor
inválido neste campo:

In [8]:
df_cat.drop(df_itensInvalidos.index, inplace=True)
print('Qtde de registros que sobraram: {}'.format(df_cat.shape[0]))  #274439

Qtde de registros que sobraram: 274439

Vamos criar uma coluna "idade", derivada de "dt_nasc", para auxiliar na análise das idades dos trabalhadores:

In [9]:
df_cat.fillna(0, inplace = True)
df_cat['idade']= df_cat.apply(lambda row: fprocess.calcularIdade(row.dt_nasc,row.dt_acidente), axis = 1)

In [10]:
df_cat.head()

caracteristica,dt_acidente,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
0,2020/01,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0
1,2020/01,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0
2,2020/01,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0
3,2020/01,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0
4,2020/01,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0

Verificar se há registros com valor nulo na coluna "idade" (caso o cálculo da idade não tenha sido possível, por causa
de valores inválidos na coluna "dt_nasc"):

In [11]:
nulos = df_cat[df_cat['idade'].isnull()].shape[0]
print('Qtde de registros com valor nulo de idade: {}'.format(nulos))  #171

Qtde de registros com valor nulo de idade: 171

In [12]:
#Verificando o que há nesses registros em que não foi possível calcular a idade...
df_cat[df_cat['idade'].isnull()].head()

caracteristica,dt_acidente,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade
365,2020/01,223505,Z209,8610,Não,"Face, Partes Multipl",Não Informado,Típico,São Paulo,00/00/0000,NaN
488,2020/01,322205,Y699,8610,Não,Olho (Inclusive Nerv,Não Informado,Típico,Goiás,00/00/0000,NaN
2486,2020/01,514320,S434,5611,Não,Ombro,Não Informado,Típico,São Paulo,00/00/0000,NaN
6045,2020/01,784205,S681,3299,Não,Dedo,Não Informado,Típico,São Paulo,00/00/0000,NaN
6391,2020/01,324205,Y881,8640,Não,Mao (Exceto Punho ou,Não Informado,Típico,São Paulo,00/00/0000,NaN

Para resolver esse problema de registros com valores nulos na coluna "idade", podemos substituir esses valores nulos 
pela média de idade dos registros desse arquivo. Dessa forma, o registro não é perdido e o valor usado não fica fora 
da faixa, nem altera muito nossa análise final.

Qual será a média de idade dos registros desse arquivo?

In [13]:
mediaIdades = math.floor(df_cat['idade'].mean())
print('Média de idade dos registros = {}'.format(mediaIdades))

Média de idade dos registros = 35

Substituindo os valores nulos na coluna "idade" pela média e verificando novamente o estado dos campos do dataFrame...

In [14]:
df_cat.fillna(mediaIdades, inplace=True)

df_cat.isnull().sum()

caracteristica
dt_acidente      0
cbo              0
cid              0
cnae             0
obito            0
parte            0
sexo             0
tipo_acidente    0
uf_emp           0
dt_nasc          0
idade            0
dtype: int64

In [15]:
'''Não precisamos da data exata do acidente, apenas do mês e do ano, então podemos manipular a columa dt_acidente 
para obter uma nova coluna anoMes e, depois apagar a primeira (dt_acidente)'''

df_cat['anoMes'] = df_cat['dt_acidente'].apply(lambda x: fprocess.calcularAnoMes(x))
df_cat.drop(['dt_acidente'], axis=1, inplace = True)
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0,202001

Verificando se há valores com caracteres que não sejam numéricos na coluna anoMes:

In [16]:
condicao = df_cat['anoMes'].str.match('^[0-9]+$') == False
df_itensInvalidos = df_cat[condicao].copy()
print('Qtde de registros com anoMes inválido: {}'.format(df_itensInvalidos.index.shape[0]))

Qtde de registros apagados: 0

In [ ]:
#apagando os registros com anoMes inválido, se houverem:
df_cat.drop(df_itensInvalidos.index, inplace=True)
print('Qtde de registros que sobraram: {}'.format(df_cat.shape[0]))

In [17]:
#ordenando novamente os índices do dataFrame
df_cat.index = range(df_cat.shape[0])
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,dt_nasc,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,07/09/1977,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,27/11/1987,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,03/01/1983,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,08/10/1988,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,10/06/1976,43.0,202001

In [18]:
#apagando a coluna "dt_nasc", que não é mais necessária
df_cat.drop(['dt_nasc'], axis=1, inplace = True)
df_cat.head()

caracteristica,cbo,cid,cnae,obito,parte,sexo,tipo_acidente,uf_emp,idade,anoMes
0,322230,S610,9491,Não,Dedo,Feminino,Típico,São Paulo,42.0,202001
1,322205,Z209,8610,Não,Dedo,Feminino,Típico,Ceará,32.0,202001
2,322205,Y289,8610,Não,Dedo,Masculino,Típico,São Paulo,36.0,202001
3,314410,S610,1012,Não,Dedo,Masculino,Típico,Santa Catarina,31.0,202001
4,724315,S610,2599,Não,Dedo,Masculino,Típico,Minas Gerais,43.0,202001

In [19]:
#separando os acidentes que aconteceram em 2019 dos que aconteceram em 2018:
condicao2020 = df_cat['anoMes'].str.match('^2020[0-9]+') == True
df_cat2020 = df_cat[condicao2020].copy()
df_cat2020.shape[0] #deverá ser igual a 273965

274414

In [20]:
condicao2019 = df_cat['anoMes'].str.match('^2019[0-9]+') == True
df_cat2019 = df_cat[condicao2019].copy()
df_cat2019.shape[0] #deverá ser igual a 25

25

In [21]:
df_cat2020.to_csv(nomeArquivoResult2020, sep = ';', index=False, encoding='utf-8')

In [22]:
if(df_cat2019.shape[0] > 0):
    df_cat2019.to_csv(nomeArquivoResult2019, sep = ';', index=False, encoding='UTF-8')